absl-py==2.1.0
astunparse==1.6.3
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
dm-tree==0.1.8
flatbuffers==24.3.25
frozendict==2.4.6
gast==0.4.0
google-auth==2.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.67.1
h5py==3.7.0
idna==3.10
importlib_metadata==8.5.0
jax==0.4.13
jaxlib==0.4.13
keras==2.11.0
libclang==18.1.1
llvmlite==0.43.0
Markdown==3.7
MarkupSafe==3.0.2
ml_dtypes==0.5.0
neural-tangents==0.6.1
numba==0.60.0
numpy==1.24.3
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==24.1
pillow==11.0.0
protobuf==3.19.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.13.1
six==1.16.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tf2jax==0.3.2
torch @ file:///home/xjc/111_ugcf/svd-ae-main/torch-1.11.0%2Bcu113-cp39-cp39-linux_x86_64.whl#sha256=e9126b0a5d95704bee40a9d0ef1cbd82d8dc7863e4638a376bef702dfd659370
torchaudio @ file:///home/xjc/111_ugcf/svd-ae-main/torchaudio-0.11.0%2Bcu113-cp39-cp39-linux_x86_64.whl#sha256=6ed23d4e9b0e8de2e7233e89e7a6af36fe29a094e95e38e10db332ebe64542f2
torchvision @ file:///home/xjc/111_ugcf/svd-ae-main/torchvision-0.12.0%2Bcu113-cp39-cp39-linux_x86_64.whl#sha256=6c63b9abe2849efed27b199b6d459a21bb01708c720db2fca5ebd941b2f00db8
typing_extensions==4.12.2
urllib3==2.2.3
Werkzeug==3.1.0
wrapt==1.16.0
zipp==3.20.2
